<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heartless</title>
    <link rel="stylesheet" href="/iconfont/iconfont.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/sitemap.css">
    <link rel="icon" href="/images/ico.jpg">
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>
</head>

<body>

    <header class="header">
        <div class="container">
            <a href="/" class="title">Greyの个人博客 - 技术博客</a>
            <ul class="menu">
                <li>
                    <a href="/">
                        <span class="iconfont">&#xe629;</span>
                    </a>
                </li>
                <li>
                    <a href="/views/sitemap.html">
                        <span class="iconfont">&#xe617;</span>
                    </a>
                </li>
                <li>
                    <a href="/views/me.html">
                        <span class="iconfont">&#xe60c;</span>
                    </a>
                </li>
                <li>
                    <a href="/views/guestbook.html">
                        <span class="iconfont">&#xe61d;</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="categories" id="blog_list">
        <div class="cate-header">
            <div class="cate-title">分类</div>
            <div>
                目前共计
                <span>{{totalTags}}</span>
                种分类
            </div>
        </div>
        <ul class="categ-c">
            <li v-for="tag in tagsList">
                <a :href="tag.tagLink">{{tag.tag}}</a>
                <span class="cate-num">{{tag.blogCount}}</span>
            </li>
        </ul>
    </div>

    <div class="content_right" id="content_right">
        <div class="right_module">
            <div class="module_title">Grey</div>
            <div class="nav">
                <div class="nav_c">
                    <a href="#">
                        <span class="nav_num">{{article_num}}</span>
                        <span class="nav_name">文章</span>
                    </a>
                </div>
                <div class="nav_c">
                    <a href="#">
                        <span class="nav_num">{{categories_num}}</span>
                        <span class="nav_name">分类</span>
                    </a>
                </div>
            </div>
            <div class="link-author">
                <span class="link">
                    <a href="https://www.jianshu.com/u/fe59025be576" target="blank">
                        <span class="iconfont">&#xe63d; </span>&nbsp;
                        简书
                    </a>
                </span>
                <span class="link">
                    <a href="/">
                        <span class="iconfont">&#xe612; </span>&nbsp;
                        简历
                    </a>
                </span>
                <span class="link">
                    <a href="https://github.com/From-Atlantis" target="blank">
                        <span class="iconfont">&#xe65e; </span>&nbsp;
                        github
                    </a>
                </span>
                <span class="link">
                    <a href="https://juejin.im/user/5d907ee0f265da5bbe2a2729" target="blank">
                        <span class="iconfont">&#xe63e;</span>&nbsp;
                        掘金
                    </a>
                </span>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="foot_content">
            <div class="copyright">
                ©
                <span>2020</span>
                <span class="iconfont">&#xe629;</span>
                <span>Grey</span>
            </div>
            <div class="jishu">
                <span class="iconfont">&#xe629;</span>
                <span>您是第 </span>
                <span>9392</span>
                <span> 个访问者</span>
                <span class="iconfont">&#xe629;</span>
                <span>总访问量 </span>
                <span>12932</span>
            </div>
        </div>
    </footer>

    <script src="/js/sitemap.js"></script>
    <script src="/js/base.js"></script>
</body>

</html>